[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ozan Onur TEK (ozanonurtek)
[access "refs/for/refs/*"]
	read = group user/Ozan Onur TEK (ozanonurtek)
	push = group user/Ozan Onur TEK (ozanonurtek)
	label-Code-Review = -2..+2 group user/Ozan Onur TEK (ozanonurtek)
	label-Verified = -1..+1 group user/Ozan Onur TEK (ozanonurtek)
	rebase = group user/Ozan Onur TEK (ozanonurtek)
	removeReviewer = group user/Ozan Onur TEK (ozanonurtek)
	submit = group user/Ozan Onur TEK (ozanonurtek)
[access "refs/heads/*"]
	read = group user/Ozan Onur TEK (ozanonurtek)
	create = group user/Ozan Onur TEK (ozanonurtek)
	push = +force group user/Ozan Onur TEK (ozanonurtek)
	pushMerge = group user/Ozan Onur TEK (ozanonurtek)
[access "refs/tags/*"]
	push = group user/Ozan Onur TEK (ozanonurtek)
	push = +force group user/Ozan Onur TEK (ozanonurtek)
